@media (max-width:768px) {
    .wrapFullColor {
        display: none;
    }
    #title img {
        margin-top: 40px;
    }
    .GOC .col-md-3.col-md-3.col-sm-6.col-xs-12 {
        margin-top: 20px;
    }
    .whiteSpace {
        height: 30px;
    }
    .PhanShowCacHinhAnhPast1 {
        padding-top: 50px;
    }
    .row.AnhKichCo {
        margin-top: 50px;
    }
    .MauTrang {
        margin: 0 auto;
        display: block;
    }
    footer .contaier {
        padding-left: 118px;
    }
    .hiddenResponsive {
        display: none;
    }
    .ClassRow1 {
        display: block;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    ._3conNguoi {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .duoi .MauTrang {
        width: 50%;
    }
    .lentren {
        margin-top: -194px;
    }
    .content {
        float: none;
    }
    .KhoiRealvit h3 {
        float: none;
    }
    .content {
        float: none;
        width: 70%;
        margin: auto;
    }
    .widthSet {
        width: 600px;
    }
    .content .row {
        height: auto;
        width: 100%;
        border: none;
        border-radius: 0px;
    }
    .inputSearch3 {
        text-align: center;
    }
    .tatPadding {
        height: auto;
    }
    .inputSearch3 {
        border-radius: 0px;
    }
    .div3 {
        text-align: center;
        float: none;
    }
    .div3 .btnstart {
        border-radius: 38px;
    }
    ._3CaiAnh {
        height: auto;
    }
    .chuxam {
        width: 200px;
    }
    .PhanGanCuoi {
        height: auto;
        background-size: cover;
    }
    .owl-nav {
        display: none;
    }
    .BaoNgoaiThayTheCarourel {
        font-size: 50%;
    }
    .divBlock {
        display: none;
    }
    .hoverNao {
        height: auto;
    }
    .div3 .btnstart {
        margin-top: 32px;
    }
    /*footer responsive*/
    .aglinCenter {
        text-align: center;
    }
    .oduoi {
        margin-left: 60px;
    }
    .chuxam {
        width: 305px;
    }
    /*responsive update have screen 768*/
    .content .row {
        height: auto;
        width: 100%;
        border: none;
        border-radius: 20px;
        box-shadow: 6px 6px 12px #fff;
    }
    /*css have  input end*/
    .div3 .btnstart {
        margin-top: 32px;
        padding: 10px 31px;
        height: 43px;
        font-size: 12px;
    }
    .inputSearch2 {
        background-color: transparent!important;
        border: none!important;
    }
    #list input[type="text"] {
        width: 100%;
    }
    section#list button {
        margin: 20px 0px 0px 0px!important;
        border-radius: 38px;
    }
    .inputFooter {
        border-radius: 38px;
    }
    .btnFooter {
        font-size: 10px;
        width: 90px;
        width: 100%;
    }
    .MauTrang {
        float: none;
        height: auto;
        width: 89%;
    }
    .khongAnh:nth-child(2) {
        left: auto;
    }
    .divbaongoai,
    .divBaongoai2 {
        width: 100%;
    }
    .khongAnh {
        position: static;
        width: 89%;
        height: auto!important;
    }
    .borderArow {
        width: 89%;
        float: none;
    }
    .MauTrang:after {
        display: none;
    }
    .duoi .MauTrang {
        height: auto;
    }
    .duoi .MauTrang {
        float: none;
        width: 89%;
    }
    .tieude {
        position: relative;
        top: 29px;
    }
    .borderArowA1 {
        float: none;
        width: 89%;
    }
}

@media (max-width:640px) {
    .MauTrang span {
        display: block;
    }
    .borderArowA1 {
        float: none!important;
        width: 89%;
    }
    .longVao {
        display: block;
    }
    .MauTrang {
        float: none!important;
        height: auto;
    }
    .GOC {
        padding-bottom: 20px;
    }
    .StyleTour h1 {
        font-size: 29px!important;
    }
    .Deal h1 {
        font-size: 25px;
    }
    ._3dongChu h3 {
        font-size: 15px;
    }
    ._3dongChu h2 {
        font-size: 11px;
    }
    /* responsive web screen 499px to 319px*/
    /*css have  input begin*/
    .content .row {
        height: auto;
        width: 100%;
        border: none;
        border-radius: 20px;
        box-shadow: 6px 6px 12px #fff;
    }
    /*css have  input end*/
    .div3 .btnstart {
        margin-top: 32px;
        padding: 10px 31px;
        height: 43px;
        font-size: 12px;
    }
    .inputSearch2 {
        background-color: transparent!important;
        border: none!important;
    }
    .tatPadding:nth-child(3) {
        border-radius: 20px;
        background-color: transparent;
    }
    /*code have*/
    #list li {}
    #list input[type="text"] {
        width: 100%;
    }
    section#list button {
        margin: 20px 0px 0px 0px!important;
        border-radius: 38px;
    }
    .oduoi {
        text-align: center;
    }
    .inputFooter {
        border-radius: 38px;
    }
    .btnFooter {
        font-size: 10px;
        width: 90px;
        width: 100%;
    }
    .tieude {
        position: relative;
        top: 29px;
    }
    .khongAnh img {
        width: 100%!important;
    }
    .khongAnh:nth-child(2) {
        left: auto;
    }
    .khongAnh {
        position: static;
        width: 89%;
    }
    .borderArow {
        width: 89%;
        float: none;
    }
    .table-sells .borderArow:nth-child(1) {
        float: none;
    }
    .hiddenResponsive {
        display: none;
    }
    .ClassRow1 {
        display: block;
    }
    .divbaongoai {
        width: 100%;
    }
    .divBaongoai2 {
        width: 100%;
    }
    .widthSet {
        width: 300px;
    }
    .chuxam {
        width: 305px;
    }
    .PhanGanCuoi {
        height: auto;
        background-size: cover;
    }
    .hoverNao {
        height: auto;
    }
    ._3conNguoi {
        height: auto;
    }
    .duoi .MauTrang {
        width: 89%;
        float: none;
    }
    .lentren {
        margin-top: -194px;
    }
    .content {
        float: none;
    }
    .KhoiRealvit h3 {
        margin: 0px;
        margin-bottom: 20px;
        float: none;
    }
    .content {
        float: none;
    }
    .inputSearch3 {
        text-align: center;
    }
    .tatPadding {
        height: auto;
    }
    .inputSearch3 {
        border-radius: 0px;
    }
    .div3 {
        text-align: center;
        float: none;
        margin-right: 25px;
    }
    .div3 .btnstart {
        border-radius: 38px;
    }
    ._3CaiAnh {
        height: auto;
    }
    .PhanGanCuoi {
        height: auto;
        background-size: cover;
    }
    .owl-nav {
        display: none;
    }
    .BaoNgoaiThayTheCarourel {
        font-size: 50%;
    }
    .divBlock {
        display: none;
    }
    .hoverNao {
        height: auto;
    }
    .div3 .btnstart {
        margin-top: 32px;
    }
    .lentren {
        display: none;
    }
    .GioiThieuAdmin {
        height: auto;
    }
    .Thetable li {
        font-size: 12px!important;
        margin-right: 10px;
    }
    /*css cure execise responsive 414px min-width*/
    .PartVideoText h1 {
        font-size: 24px;
    }
    .MauTrang:after {
        display: none;
    }
    .btnHover {
        left: 9%;
    }
    .btnHover {
        width: 98px;
        height: 29px;
        border-radius: 34px;
        color: white;
        top: 55%;
        left: 19%;
        font-size: 10px;
    }
    .borderArow:before {
        display: none;
    }
    .duoi .MauTrang {
        height: auto;
    }
    .khongAnh:nth-child(1) {
        left: auto;
    }
    .col-lg-6.col-md-12.tren:nth-child(2) .khongAnh {
        float: none;
    }
    .MauTrang {
        display: inline-block;
        width: 89%;
    }
    img.imgLarge {
        width: 65px;
    }
    .BaoNgoaiThayTheCarourel {
        height: 580px;
    }
}
