.tren {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.tableDisplay {
    display: table;
}

.duoi {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.duoi .MauTrang {
    height: 240px;
    display: inline-block;
}

.duoi img {
    width: 100%;
    height: 240px;
}

.MauTrang img {
    width: 38px;
    height: auto;
    float: none;
}

img.imgLarge {
    width: 88px;
    margin-top: -9px;
    margin-bottom: 18px;
}

.MauTrang {
    width: 50%;
    display: table;
    vertical-align: middle;
    text-align: center;
    padding: 50px;
    height: 412px;
    background-color: white;
    float: left;
}

.MauTrang img {
    display: block;
    margin: 0 auto;
}

.MauTrang p {
    line-height: 25px;
}

.khongAnh {
    position: relative;
    display: inline-block;
    width: 50%;
}

.khongAnh:nth-child(1) {}

.khongAnh:hover .btnHover {
    opacity: 1;
    top: 50%;
}

.khongAnh img {
    width: 100%;
}

.khongAnh:nth-child(2) {
    left: 50%;
}

.MauTrang span {
    vertical-align: middle;
    line-height: normal;
    height: 100%;
    display: table-cell;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

.Topscroll {
    width: 40px;
    background: gray;
    height: 40px;
    text-align: center;
    padding-top: 7px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 10;
}

span.icon-bar {
    background-color: black;
    color: black;
}

span.Blue {
    color: #6684ec;
    font-weight: 900;
}

.threeLine {
    display: none;
}

._3CaiAnh {
    height: 600px;
}

.chuxam {
    width: 508px;
    margin-bottom: 92px;
    line-height: 23px;
    color: #959595;
    font-size: 15px;
    width: 645px;
}

.borderArow {
    display: inline-block;
    float: none;
    width: 342px;
    position: relative;
}

.borderArow:hover .btnHover {
    opacity: 1;
}

.borderArow:before {
    content: "";
    position: absolute;
    width: 0;
    border-top: 14px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 17px solid white;
    top: 40%;
    right: 0px;
}

.MauTrang:after {
    content: "";
    position: absolute;
    width: 0px;
    border-top: 15px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 21px solid white;
    top: 177px;
    left: -1px;
    right: -21px;
    margin: auto;
    z-index: 2;
}

.table-sells p {
    color: #808080;
}

ul.nav.navbar-nav.navbar-right li:nth-child(1) a {
    font-size: 16px;
}

.navbar-right i.fa {
    font-size: 17px;
    margin-right: 18px;
}

i.fa.fa-angle-down {
    margin-left: 5px;
}

.nav i.fa.fa-user-circle {
    font-size: 30px;
    position: relative;
    top: -5px;
}

.nav i.fa.fa-phone {
    margin-right: 10px;
    font-size: 22px;
}

.threeCrack a {
    background: #FFF;
    height: 35px;
    width: 35px;
    line-height: 34px;
    text-align: center;
    color: #959595;
    display: inline-block;
    border-radius: 50%;
    transition: all .3s;
    margin-right: 8px;
}

.threeCrack a:nth-child(1) {}

.threeCrack a:hover {
    color: #6684f2;
}

nav.navbar.Trangs {
    padding-left: 60px;
}

.khoiday h4 {
    font-size: 15px;
    line-height: 25px;
}

.ghichu {
    display: inline-block;
    margin-top: -12px;
}

section#title .fa {
    font-size: 16px;
}

section#title i.fa.fa-google-plus-official {
    margin-top: 3px;
}

section#title i.fa.fa-facebook {
    margin-top: 2px;
}

section#title a:hover {
    background-color: #6684f2;
    color: white;
}

.divBlock {
    margin-top: 19px;
    text-align: left;
    margin-left: 5px;
}

.div3 {
    float: left;
}

.content {
    float: left;
}

.content .row {
    border-radius: 38px 0px 0px 38px;
    background-color: white;
    height: 60px;
}

span.chuxam {
    color: gray;
    font-size: 14px;
    margin-bottom: 12px;
    font-weight: 500;
}

.GOC .fa {
    font-size: 30px;
}

.GOC .fa:hover {
    color: white;
}

.GOC i.fa.fa-envelope {
    margin-top: 13px;
}

.GOC i.fa.fa-skype {
    margin-top: 15px;
}

.GOC i.fa.fa-phone {
    margin-top: 15px;
}

.GOC .fa:nth-child(2) {
    padding: 12px 12px;
}

i.fa.fa-question {
    padding: 14px 21px 15px 20px;
}

.table-cellll {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding-bottom: 120px;
    padding-top: 40px;
}

button.btnstart {
    height: 60px;
    margin: 0px;
    border-radius: 0px 38px 38px 0px;
    background-color: #252525;
    color: white;
    border: 1px solid transparent;
    padding: 20px;
    font-weight: 600;
    font-size: 14px;
    padding: 22px 68px;
}

.chua3inPut {
    /* display: inline-block; */
    width: 100%;
}

.tatPadding {
    height: 60px;
    padding: 0px;
}

.tatPadding:nth-child(2) {
    padding: 11px 0px;
    background: white;
}

.tatPadding:nth-child(3) {
    padding: 11px 0px;
    background: white;
}

.divBorder {
    padding: 10px;
    position: relative;
}

.divBorder:before {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 35px solid white;
    top: -34px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.row.AnhKichCo {
    margin-top: 122px;
}

section#title img:not(:nth-child(1)) {
    background-color: black;
    padding: 11px;
    border-radius: 50%;
}

section#title img:not(:nth-child(1)):hover {
    background-color: #5770c9;
    color: white;
}

.dichuyens {
    margin: 96px 59px;
    position: absolute;
}

.longVao {
    display: inline-table;
    text-align: left;
}

.GOC .col-md-3 p {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.GOC {
    z-index: 23;
    text-align: center;
}

nav.navbar {
    width: 100%;
    margin: 0;
    padding: 17px 0px;
}

i.fa.fa-chevron-up {
    background-color: white;
}

.Topscroll i.fa.fa-chevron-up {
    font-size: 24px;
    background: transparent;
    color: #dad7d4;
}

.TopScroll {
    width: 40px;
    height: 40px;
    position: fixed;
}

hr {
    border: 1px solid #2f2b2b;
}

.oduoi {
    margin-top: 52px;
    margin-bottom: 153px;
}

.oduoi .fa {
    font-size: 24px;
    margin-right: 24px;
}

.oduoi img {
    margin-right: 27px;
}

i.fa.fa-search {
    margin-left: 7px;
    font-size: 18px;
}

.dichuyen {
    position: absolute;
    color: gray;
    top: 25px;
}

._3dongChu {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

._3dongChu h1,
._3dongChu h3,
._3dongChu h2 {
    display: block;
    color: white;
    margin: 14px;
}

._3dongChu h2 {
    margin-bottom: 40px;
}

._3dongChu h3 {
    margin-top: 16px;
    margin-bottom: 0px;
}

._3dongChu h3 {
    font-size: 18px;
    font-weight: bold;
}

._3dongChu h2 {
    font-size: 16px;
}

._3dongChu2 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

h1.ChuXanh {
    color: #6684f2;
    font-weight: 900;
    font-style: italic;
    font-size: 45px;
    margin-top: -12px;
}

._3CaiAnh a.btn {
    color: black;
    padding: 10px 27px;
    margin-top: 25px;
    font-size: 12px;
    height: 40px;
    width: 140px;
    font-weight: 600;
}

.tieude {
    margin-top: 155px;
    margin-bottom: 55px;
}

#title img {
    margin-top: 120px;
    margin-bottom: 40px;
}

section#list {
    text-align: center;
}

section#list button {
    margin-left: -4px;
    margin-top: -7px;
}

section#title {
    text-align: center;
    margin-bottom: 70px;
}

footer {
    height: auto;
    width: 100%;
    background-color: #1c1c1c;
    text-align: center;
}

.lentren {
    margin-top: -127px;
    color: white;
}

r .lentren col-md-3 {
    width: 1253px;
}

.lentren img {
    position: absolute;
}

.HinhMay p {
    display: block;
    margin-bottom: 3px;
}

.bookingTour {
    display: block;
    display: block;
    margin-bottom: 7px;
}

.PhanShowCacHinhAnhPast1 h1 {
    font-weight: 900;
    font-size: 18px;
    display: block;
}

._3CaiAnh h5 {
    display: block;
    font-size: 14px;
    margin-top: 20px;
    margin-left: -13px;
    color: #959595;
}

h5.move {
    color: #a5a4a4;
    font-size: 13px;
    font-weight: 600;
}

.move {
    margin-left: -20px;
    color: azure;
}

.khoiday {
    margin-left: 55px;
}

._3CaiAnh .ChuXanh {
    font-size: 18px;
    color: #859df5;
}

.khoiday h2 {
    font-size: 14px;
    margin: 0px;
    font-weight: 600;
}

.tieude h4 {
    display: block;
    color: #6889ff;
    margin: 4px;
    font-size: 12px;
}

.tieude h2 {
    font-weight: 900;
    font-size: 24px;
    margin-top: 12px;
    color: #464646;
}

.phan8caiAnh {
    position: relative;
    left: 185px;
    top: 29px;
}

article button {
    height: 64px;
    margin: 0px;
    border-radius: 0px 38px 38px 0px;
    background-color: #252525;
    color: white;
    border: 1px solid transparent;
    padding: 20px;
    font-weight: 600;
}

.HinhMay {
    display: block;
    padding-left: -8px;
    position: relative;
    display: inline-block;
    left: 0px;
    padding-left: 83px;
    margin-bottom: 60px;
    text-align: left;
}

.HinhMay h3 {
    margin-right: 18px;
}

.HinhMay img {
    position: absolute;
    top: 0px;
    left: 0px;
}

h1,
h2,
h3,
h4,
h5 {
    display: inline-block;
}

._3CaiAnh h2 {
    font-size: 24px;
}

._3CaiAnh h4 {
    font-size: 12px;
    display: block;
    font-weight: 700;
}

h4.check {
    font-size: 14px;
    font-weight: 600;
}

article>h3 {
    margin-top: 0px;
    margin-left: 0px;
    width: 233px;
    font-style: italic;
    font-weight: 900;
}

.bocNgoai3cai {
    position: absolute;
    top: 163%;
    left: 38%;
}

.phanAnhTo>DuBao1 {
    text-align: center;
}

.DuBao1 {
    top: 102%;
    position: absolute;
    left: 44%;
}

ul {
    text-decoration: none;
}

ul.nav.navbar-nav.paddingAdd li {
    margin-right: 10px;
}

ul.nav.navbar-nav.navbar-right li a {
    font-weight: 900;
}

a {}

.GOC a {
    background: black;
    height: 60px;
    width: 60px;
    text-align: center;
    color: #959595;
    display: inline-block;
    border-radius: 50%;
    transition: all .3s;
    margin-right: 8;
    margin-bottom: 30px;
}

.ClassRow1 {
    display: none;
}

.GOC a:hover {
    background-color: #6684f2;
    color: white;
}

ul.nav.navbar-nav li a:hover {
    color: #6684f2;
}

ul.nav.navbar-right li {
    margin-right: 0px;
}

li.language {
    width: 50px;
}

li.language a {
    padding: 15px 0px;
    display: inline-block;
}

li {}

a {
    list-style: none;
}

a.test {}

#title a {
    height: 35px;
    width: 35px;
    line-height: 34px;
    text-align: center;
    color: #959595;
    display: inline-block;
    border-radius: 50%;
    transition: all .3s;
    background-color: #111111;
    margin-right: 15px;
}

li {
    display: inline-block;
}

#list li {
    display: block;
    text-align: left;
    color: #474747;
    margin-bottom: 20px;
}

#list li:hover {
    color: #6684f2;
}

li.itemchinh {
    font-size: 16px;
    margin-bottom: 40px;
    color: #1c1c1c;
}

.item {
    display: inline-block;
}

.AnhKichCo .item:hover img {
    opacity: 1;
}

p {
    display: inline-block;
    line-height: 20px;
}

p.chuxam {
    color: gray;
}

.phanAnhTo .col-md-3 {
    width: 25%;
}

.nav-barsHienRa {
    height: 79px;
    padding-top: 20px;
    background-color: #ffffff;
}

.nav-barsHienRa {
    position: fixed;
    background-color: white;
    z-index: 9999;
    transition: 0s;
    animation: 1s divao forwards;
    top: -1px;
    width: 100%;
}

.nav-barsHienRa {
    padding-top: 14px;
    width: 100%;
}

@keyframes divao {
    0% {
        opacity: 0;
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.nav-barsHienRa .navbar-right {
    margin-left: 0px;
}

.phanAnhTo {
    background-image: url("../img/9s1lvXLlSbCX5l3ZaYWP_hdr-1.jpg");
    height: 989px;
    background-size: cover;
    position: relative;
    color: white;
    background-position: 55% 100%;
    background-repeat: no-repeat;
}

.btnDen {
    background-color: #202020;
    border-radius: 20px;
    text-align: center;
}

.btnHeder {
    border-radius: 0px 20px;
}

.inputSearch3 {
    width: 100%;
    border-radius: 38px 0px 0px 38px;
    border: transparent;
    padding: 30px 47px;
    font-size: 13px;
    height: 60px;
    border-color: #d7d7d7;
    color: gray;
}

.inputFooter {
    width: -webkit-fill-available;
    border-radius: 38px 0px 0px 38px;
    border: transparent;
    padding: 20px 22px;
    font-size: 13px;
    height: 40px;
    border-color: #d7d7d7;
    color: gray;
}

 ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #9c9c9c;
}

#list input[type="text"] {
    width: 228px;
    background: #2f2f2f;
}

.navbar li a {
    color: #363636;
    font-weight: 900;
    font-size: 12px;
}

.navli a {}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: transparent;
}

.PhanShowCacHinhAnhPast1 {
    height: auto;
    width: 100%;
    text-align: center;
    background-color: #edf4f7;
    padding-top: 183px;
}

.table-sells.container h1 {
    font-size: 16px;
    margin-top: 9px;
}

.PhanShowCacHinhAnhPast1 img {}

#table1 {
    display: table;
    width: 100%;
    height: 30%;
}

.cell {
    vertical-align: middle;
    height: 100%;
    width: 100%;
    display: table-cell;
}

.hoverNao:hover .testt img {
    transition: all 0.3s;
    transform: scale(1.1);
    /*to áº£nh lÃªn*/
}

.hoverNao {
    padding: 9px;
    height: 319px;
}

.testt img {
    transition: 0.8s;
}

.hoverNao:hover .btn {
    background-color: #202020;
    color: white;
    transition: 0.3s
}

.threeCrack {
    visibility: hidden;
    position: absolute;
    top: 64%;
    left: 34%;
    transition: 0.3s;
    opacity: 0;
}

.canChinh .col-md-4:hover .threeCrack {
    visibility: visible;
    top: 58%;
    opacity: 1;
}

.canChinh .col-md-4:hover .pFirst {
    color: #6684f2;
}

.canChinh .col-md-4:hover @keyframes phongto {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}

.PhanShowCacHinhAnhPast1 .col-md-3 {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 18%;
}

.trang {
    background-color: white;
    height: 402px;
    padding-left: 20px;
}

.trang img {
    width: 97px;
    height: 34px;
    position: absolute;
    top: 123px;
    left: 111px;
}

.pFirst {
    display: block;
    font-weight: 900;
    font-size: 16px;
}

.trang p {
    color: #959595;
}

.trang h1 {
    margin-top: 177px;
    font-size: 22px;
}

._3CaiAnh img {
    width: 100%;
    height: 100%;
}

._3CaiAnh col-md-4 {
    margin-right: 10px;
}

.ImgAndPhay {
    position: relative;
}

.ImgAndPhay:before {
    background: #6684f2 none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 7px;
    color: #fff;
    content: '"';
    font-size: 36px;
    font-weight: 700;
    height: 28px;
    left: -85px;
    line-height: 46px;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 28px;
    z-index: 2;
}

.btn {
    background-color: #d9e6ec;
    border-radius: 20px;
    padding: 10px 10px;
    color: white;
}

.fa-star {
    color: #7a94f4
}

.divBorder i.fa.fa-star {
    margin-right: 8px;
    color: #6684f2;
    font-size: 13px;
}

.divBorder i.fa.fa-star:nth-child(4) {
    margin-right: 35px;
}

.PhanVideo {
    margin-top: 160px;
    background-image: url(../img/8Z2QWLCH72.jpg);
    background-position: 0px;
    height: 697px;
    width: 100%;
    background-size: cover;
}

.PhanVideo section {
    display: table;
    width: 100%;
    height: 272px;
}

.Thetable {
    display: table;
    width: 100%;
    height: 50%;
    color: white;
}

.Thetable h1 {
    font-weight: 900;
    margin-top: 47px;
    margin-bottom: 50px;
    font-size: 60px;
}

.Thetable li {
    margin-right: 50px;
    font-weight: 600;
    font-size: 16px;
}

.Thetable li:hover {
    text-decoration: line-through;
}

._3conNguoi {
    height: 1117px;
    width: 100%;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 274px;
}

._3conNguoi section {
    display: block;
}

section.canChinh {
    margin-top: -3px;
}

.canchinh.col-md-4 p:nth-child(3) {}

.canChinh p {
    margin-top: 11px;
    font-size: 15px;
}

.canChinh p:nth-child(4) {
    color: #959595;
    margin-top: 17px;
    padding: 0px 50px;
}

._3conNguoi img {
    widows: 235px;
    height: 419px;
    margin-bottom: 35px;
}

.AnhKichCo img {
    display: inline-block;
    opacity: 0.7;
}

.GioiThieuAdmin {
    background-color: #edf4f7;
    height: 861px;
    width: 100%;
}

.GioiThieuAdmin .container {
    margin: 0 auto;
}

.GioiThieuAdmin .fa-star {
    margin-right: 10px;
    font-size: 13px;
}

.GioiThieuAdmin .PhantrenGioiThieu {
    height: 81px;
    margin-top: 0px;
    font-size: 18px;
    font-weight: 700;
}

.PhanGanCuoi {
    background-image: url(../img/ImgGray.png);
    background-position: top left, top left;
    height: 697px;
    z-index: 0;
    color: white;
    padding-top: 158px;
}

.monhat p {
    color: white;
}

.PhanGanCuoi section {
    z-index: 999;
    margin-top: 0px;
}

.navbar-right img {
    padding-right: 1px;
}

.phan8caiAnh h1 {
    display: inline-block;
}

.phanCao img {
    height: 400px;
    width: 335px;
}

.phanCao {
    height: 400px;
    display: table
}

.phanCao .MauTrang {
    height: 400px;
    width: 335px;
    text-align: center;
    background-color: white;
}

.phanCao div {
    display: table-cell;
    vertical-align: middle;
}

.phanThap {
    height: 240px;
}

.phanThap div {
    display: table-cell;
    vertical-align: middle;
}

.phanThap .MauTrang {
    width: 335px;
    text-align: center;
    background-color: white;
}

.phanThap .MauTrang h1 {
    font-size: 10px;
    color: #515151
}

.phanThap .MauTrang p {
    color: #9c9c9c;
}

.phanCao .MauTrang h1 {
    font-size: 10px;
    color: #515151
}

.phanCao .MauTrang p {
    color: #9c9c9c;
}

.phanThap img {
    height: 240px;
    width: 335px;
}

.MauTrang img {
    margin-bottom: 10px;
}

.KhoiRealvit {
    position: relative;
    width: 100%;
    margin-left: 14px;
}

.KhoiRealvit:before {
    display: table;
    content: " ";
    clear: both;
}

.KhoiRealvit:after {
    display: table;
    content: " ";
    clear: both;
}

.KhoiRealvit h3 {
    font-style: italic;
    font-weight: 600;
    display: block;
    float: left;
    margin: 18px 74px 10px 0px;
    font-size: 24px;
}

.GOC img {
    background-color: black;
    padding: 19px;
    border-radius: 50%;
    height: auto;
}

.scrollup {
    border: none;
    height: 80px;
    width: 80px;
    position: fixed;
    bottom: 40px;
    right: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    visibility: visible;
    opacity: 0.6;
    background-color: black;
    z-index: 900;
}

.BaoNgoaiThayTheCarourel {
    position: relative;
    width: 100%;
    height: 798px;
}

.divbaongoai {
    width: 50%;
    height: 100%;
    background-image: url(../img/AnhPhanDoi.png);
    background-size: cover;
    display: table;
    background-repeat: no-repeat;
    float: left;
}

.divBaongoai2 {
    width: 50%;
    height: 100%;
    background-image: url(../img/AnhPhanDoi2.png);
    float: left;
    display: table;
    background-size: cover;
    background-repeat: no-repeat;
}

.khoi2Dong {
    margin-bottom: 82px;
}

.testt {
    overflow: hidden;
    width: 100%;
    transition: 0.8s;
    height: 322px;
}

i.fa.fa-map-marker {
    position: absolute;
    font-size: 22px;
    color: gray;
    left: 30px;
    top: 20px;
}

a.navbar-brand {
    padding-right: 93px;
    padding-left: 52px;
    position: relative;
    top: -10px;
}

.inputSearch1 {
    color: gray;
    border-radius: 0px;
    width: 100%;
    border: none;
    border-left: 1px dashed #d7d7d7;
    background-color: white;
    font-size: 13px;
    height: 30px;
    padding: 10px 0;
    margin-top: 5px;
    text-align: center;
}

.inputSearch2 {
    border-color: #9c9c9c;
    color: gray;
    border-radius: 0px;
    width: 100%;
    border: none;
    border-left: 1px dashed #d7d7d7;
    background-color: white;
    font-size: 13px;
    height: 30px;
    margin-top: 6px;
    margin-bottom: 1px;
    padding: 10px 0;
    text-align: center;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding-right: 20px;
    padding-left: 20px;
}

.h2threePicture h2 {
    font-weight: 900;
    margin: 10px;
}

.GOC i {
    margin-bottom: 30px;
}

.kickthuoc {
    height: 78px;
    width: 100px;
}

.btnHover {
    width: 140px;
    height: 40px;
    border-radius: 40px;
    background-color: black;
    color: white;
    position: absolute;
    border: none;
    opacity: 0;
    transition: 0.3s;
    left: 30%;
    top: 30%;
}

.widthSet {
    display: block;
    color: #7d7d7d;
    width: 844px;
    margin: 0 auto;
    margin-bottom: 36px;
    font-weight: 500;
    width: 800px;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px
}

.borderArow .btnHover {
    left: 32%;
    top: 54%;
}

.borderArow:hover .btnHover {
    top: 40%;
}

.active {
    text-decoration: line-through;
}

.btnFooter {
    color: white;
    background-color: #6684f2;
    border-radius: 0px 37px 37px 0px;
    border: 0px;
    padding: 12px;
    margin: -3px;
    width: 120px;
    font-size: 12px;
    height: 40px;
}

.SignUp {
    color: #464646;
    margin-top: 20px;
    margin-bottom: 22px;
    font-size: 14px;
    display: block;
}


/*Responsive web screen 1340px min*/

@media (min-width: 1380px) {
    .container {
        width: 1380px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .row {
        margin-right: -20px;
        margin-left: -20px;
    }
    .vc_column_container>.vc_column-inner {
        padding-left: 20px;
        padding-right: 20px;
    }
    .vc_row {
        margin-left: -20px;
        margin-right: -20px;
    }
}


}

/*code*/

/* iPads (portrait and landscape) ----------- */
@media(min-width: 1023px) and (max-width:1400px) {
    .hiddenResponsive {
        display: none;
    }
    
    .ClassRow1 {
        display: block;
    }
    
    .longVao {
        text-align: center;
    }
    
    .inputFooter {
        border-radius: 38px;
    }
    
    .btnFooter {
        border-radius: 38px;
    }
    
    section#list button {
        margin: 20px 0px 0px 0px;
    }
    
    .borderArow .btnHover {
        left: 10%;
    }
    
    .btnHover {
        left: 20%;
    }
    
    .LongText p {
        font-size: 12px;
    }
    
    .testt {
        height: 200px;
    }
    
    .h2threePicture h2 {
        font-size: 20px;
    }
    
    .content .row {
        border-radius: 38px!important;
    }
    
    .tatPadding:nth-child(3) {
        background-color: transparent;
    }
    
    .inputSearch2 {
        width: 90%!important;
    }
    
    ul.nav.navbar-nav.paddingAdd {
        margin-left: -74px;
    }
    
    ul.nav.navbar-nav.paddingAdd li {
        padding: 0px;
    }
    
    ul.nav.navbar-nav.navbar-right li a {
        padding: 11px;
    }
    
    a.navbar-brand {
        padding-left: 16px;
    }
    
    .container-fluid>.navbar-collapse {
        display: none !important;
    }
    
    .navbar-header {
        width: 100%;
    }
    
    .container-fluid>.navbar-collapse li {
        display: inline-block;
    }
    
    .fa.fa-bars {
        color: aqua;
        font-size: 25px;
    }
    
    .navbar-toggle .icon-bar {
        display: block;
    }
    /*edit after*/
    
    ._3conNguoi {
        height: auto;
    }
    /*á»Ÿ dÆ°á»›i 768px thÃ¬*/
    
    .duoi .MauTrang {
        width: 50%;
    }
    
    .lentren {
        margin-top: -194px;
    }
    
    .content {
        float: none;
    }
    
    .KhoiRealvit h3 {
        float: none;
    }
    
    .content {
        float: none;
    }
    
    .widthSet {
        width: 600px;
    }
    
    .content .row {
        height: auto;
        width: 100%;
        border: none;
        border-radius: 0px;
    }
    
    .inputSearch3 {
        text-align: center;
    }
    
    .tatPadding {
        height: auto;
    }
    
    .inputSearch3 {
        border-radius: 0px;
    }
    
    .div3 {
        text-align: center;
        float: none;
    }
    
    .div3 .btnstart {
        border-radius: 38px;
    }
    
    ._3CaiAnh {
        height: auto;
    }
    
    .chuxam {
        width: 1000px;
    }
    
    .PhanGanCuoi {
        height: auto;
        background-size: cover;
        padding-bottom: 20px;
    }
    
    .owl-nav {
        display: none;
    }
    
    .BaoNgoaiThayTheCarourel {
        font-size: 50%;
    }
    
    .divBlock {
        display: none;
    }
    
    .hoverNao {
        height: auto;
    }
    
    .div3 .btnstart {
        margin-top: 32px;
    }
}
@media (max-width:1024px) and (min-width:767px) {
    .duoi img {
        width: 100%!important;
    }
    
    .khongAnh img {
        width: 100%!important;
    }
    
    .khongAnh:nth-child(2) {
        left: auto;
    }
    
    .khongAnh {
        position: static;
    }
    
    .borderArow {
        width: auto;
        float: none;
    }
    
    .hiddenResponsive {
        display: none;
    }
    /*part in 1024px*/
    
    .navbar-header {
        float: none;
    }
    
    .navbar-toggle {
        display: block;
    }
    
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    
    .navbar-collapse.collapse {
        display: none!important;
    }
    
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    
    .navbar-nav>li {
        float: none;
    }
    
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .hiddenResponsive {
        display: none;
    }
    
    .ClassRow1 {
        display: block;
    }
    
    .navbar-header {
        float: none;
    }
    
    .navbar-toggle {
        display: block;
    }
    
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    
    .navbar-collapse.collapse {
        display: none!important;
    }
    
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    
    .navbar-nav>li {
        float: none;
    }
    
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .GioiThieuAdmin {
        padding-bottom: 20px;
        height: auto;
    }
    
    .threeCrack {
        left: 39%;
    }
    /*trong khoáº£ng tá»« 1200 Ä‘áº¿n 700px*/
    
    ._3conNguoi {
        height: auto;
    }
    /*á»Ÿ dÆ°á»›i 768px thÃ¬*/
    
    .duoi .MauTrang {
        width: 50%;
    }
    
    .lentren {
        margin-top: -194px;
    }
    
    .content {
        float: none;
    }
    
    .KhoiRealvit h3 {
        float: none;
    }
    
    .content {
        float: none;
    }
    
    .widthSet {
        width: 600px;
    }
    
    .content .row {
        height: auto;
        width: 100%;
        border: none;
        border-radius: 0px;
    }
    
    .inputSearch3 {
        text-align: center;
    }
    
    .tatPadding {
        height: auto;
    }
    
    .inputSearch3 {
        border-radius: 0px;
    }
    
    .div3 {
        text-align: center;
        float: none;
    }
    
    .div3 .btnstart {
        border-radius: 38px;
    }
    
    ._3CaiAnh {
        height: auto;
    }
    
    .chuxam {
        width: 700px;
    }
    
    .PhanGanCuoi {
        height: auto;
        background-size: cover;
    }
    
    .owl-nav {
        display: none;
    }
    
    .BaoNgoaiThayTheCarourel {
        font-size: 50%;
    }
    
    .divBlock {
        display: none;
    }
    
    .hoverNao {
        height: auto;
    }
    
    .div3 .btnstart {
        margin-top: 32px;
    }
}
@media (max-width:768px) and (min-width:500px) {
    footer .contaier {
        padding-left: 118px;
    }
    
    .hiddenResponsive {
        display: none;
    }
    
    .ClassRow1 {
        display: block;
    }
    
    .navbar-header {
        float: none;
    }
    
    .navbar-toggle {
        display: block;
    }
    
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    
    .navbar-collapse.collapse {
        display: none!important;
    }
    
    .navbar-nav {
        float: none!important;
    }
    
    .navbar-nav>li {
        float: none;
    }
    
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    ._3conNguoi {
        height: auto;
    }
    /*á»Ÿ dÆ°á»›i 768px thÃ¬*/
    
    .duoi .MauTrang {
        width: 50%;
    }
    
    .lentren {
        margin-top: -194px;
    }
    
    .content {
        float: none;
    }
    
    .KhoiRealvit h3 {
        float: none;
    }
    
    .content {
        float: none;
    }
    
    .widthSet {
        width: 600px;
    }
    
    .content .row {
        height: auto;
        width: 100%;
        border: none;
        border-radius: 0px;
    }
    
    .inputSearch3 {
        text-align: center;
    }
    
    .tatPadding {
        height: auto;
    }
    
    .inputSearch3 {
        border-radius: 0px;
    }
    
    .div3 {
        text-align: center;
        float: none;
    }
    
    .div3 .btnstart {
        border-radius: 38px;
    }
    
    ._3CaiAnh {
        height: auto;
    }
    
    .chuxam {
        width: 200px;
    }
    
    .PhanGanCuoi {
        height: auto;
        background-size: cover;
    }
    
    .owl-nav {
        display: none;
    }
    
    .BaoNgoaiThayTheCarourel {
        font-size: 50%;
    }
    
    .divBlock {
        display: none;
    }
    
    .hoverNao {
        height: auto;
    }
    
    .div3 .btnstart {
        margin-top: 32px;
    }
    /*footer responsive*/
    
    .aglinCenter {
        text-align: center;
    }
    
    .oduoi {
        margin-left: 60px;
    }
    
    .chuxam {
        width: 305px;
    }
}

/*end responsive 768px to 500px*/
@media (max-width:499px) and (min-width:319px) {
    #list li {
        text-align: center;
        font-size: 150%;
    }
    
    #list input[type="text"] {
        width: 138px;
    }
    
    .btnFooter {
        font-size: 10px;
        width: 90px;
    }
    
    .tieude {
        position: relative;
        top: 29px;
    }
    
    .duoi img {
        width: 100%!important;
    }
    
    .khongAnh img {
        width: 100%!important;
    }
    
    .khongAnh:nth-child(2) {
        left: auto;
    }
    
    .khongAnh {
        position: static;
    }
    
    .borderArow {
        width: auto;
        float: none;
    }
    
    .hiddenResponsive {
        display: none;
    }
    
    .ClassRow1 {
        display: block;
    }
    
    .divbaongoai {
        width: 100%;
    }
    
    .divBaongoai2 {
        width: 100%;
    }
    
    .widthSet {
        width: 300px;
    }
    
    .chuxam {
        width: 305px;
    }
    
    .PhanGanCuoi {
        height: auto;
        background-size: cover;
    }
    
    .hoverNao {
        height: auto;
    }
    /*delete thá»­ nghiá»‡m*/
    
    ._3conNguoi {
        height: auto;
    }
    /*á»Ÿ dÆ°á»›i 768px thÃ¬*/
    
    .duoi .MauTrang {
        width: 100%;
        float: none;
    }
    
    .lentren {
        margin-top: -194px;
    }
    
    .content {
        float: none;
    }
    
    .KhoiRealvit h3 {
        float: none;
    }
    
    .content {
        float: none;
    }
    
    .content .row {
        height: auto;
        width: 100%;
        border: none;
        border-radius: 0px;
    }
    
    .inputSearch3 {
        text-align: center;
    }
    
    .tatPadding {
        height: auto;
    }
    
    .inputSearch3 {
        border-radius: 0px;
    }
    
    .div3 {
        text-align: center;
        float: none;
    }
    
    .div3 .btnstart {
        border-radius: 38px;
    }
    
    ._3CaiAnh {
        height: auto;
    }
    
    .PhanGanCuoi {
        height: auto;
        background-size: cover;
    }
    
    .owl-nav {
        display: none;
    }
    
    .BaoNgoaiThayTheCarourel {
        font-size: 50%;
    }
    
    .divBlock {
        display: none;
    }
    
    .hoverNao {
        height: auto;
    }
    
    .div3 .btnstart {
        margin-top: 32px;
    }
    
    .lentren {
        display: none;
    }
    
    .GioiThieuAdmin {
        height: auto;
    }
    
    .Thetable li {
        margin-left: 10px;
        font-size: 13px!important;
        margin-right: 10px;
    }
    /*css cure execise responsive 414px min-width*/
    
    .PartVideoText h1 {
        font-size: 24px;
    }
    
    .threeCrack {
        left: 29%;
    }
    
    .MauTrang:after {
        display: none;
    }
    /*part diffcutl in img nhiá»u*/
    
    .btnHover {
        left: 9%;
    }
    
    .btnHover {
        width: 98px;
        height: 29px;
        border-radius: 34px;
        color: white;
        top: 55%;
        left: 19%;
        font-size: 10px;
    }
    
    .borderArow:before {
        display: none;
    }
    
    .borderArow img {
        height: 311px!important;
    }
    
    .duoi .MauTrang {
        height: 311px!important;
    }
    
    .khongAnh:nth-child(1) {
        left: auto;
    }
    
    .MauTrang {
        display: inline-block;
        width: 100%;
    }
}
.PartVideoText h1 {
    display: block;
    font-weight: 900;
}
.duoi .MauTrang {
    float: none;
}

/*note: cÃ¡c p pháº£i Ä‘c chá»‰nh láº¡i width má»—i khi thÃªm má»™t media*/

/* @media (max-width: 768px) {
                    .container {
                        width: 750px;
                    }*/
